.TutorialApp {
    display: flex;
    flex-direction: column;               
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
  }

.TutorialContent {
    text-align: left;
    margin: 3vh 0vh 8vh 0vh;
  }