.FaceDetectionApp {
    display: flex;
    flex-direction: column;               
    justify-content: center;
    align-items: center;    
    min-height: 100vh;    
}

.FaceDetectionFrame {
    display: flex;
    flex-direction: column;               
    justify-content: center;
    align-items: center;
    width: 50vw;    
    border: 5px solid;
    padding: 1vh 1vw 1vh 1vw;    
}

.PictureFrame {
    display: flex;
    flex-direction: column;               
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 50vw;   
    background: url(../image/pic-frame1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.FaceDetectionControlGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh; 
}

.FaceDetectionError {
    display: flex;
    flex-direction: column;               
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 2vh;
    font-size: calc(1vh + 1vw);
}