.face-recognition-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 2vw;
    width: 50vw;
    height: 50vh;            
}

.image-view {
    display: flex;
    max-width: 50vw;
    max-height: 50vh;
}

.bounding-box-container {
    position: absolute;
    display: flex;
}

.bounding-boxes {
    position: relative;
    margin: auto;
}

.bounding-box-set {
    box-sizing: border-box;
}

.bounding-box {
    position: absolute;
    /* box-shadow: 0 0 5px #149df2 inset; */
    box-shadow: 0 0 5px inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}