.VideoApp {
    display: flex;
    flex-direction: row;               
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
}

.VideoBox {
    display: inline-block;
    position: relative;    
}

.hideBox {
    display: none;
}

.VideoBox > video {
    height: 40vh;
    width: 40vw;
    margin: 0 1vw 0vw 1vw;
    vertical-align: top;    
    object-fit: cover;
  }

.VideoBox .VideoControls {
    display: none;
}

.VideoBox:hover .VideoControls {
    width: 40vw;
    margin: 0 1vw 0vw 1vw;
    display: flex;
    flex-direction: row;               
    justify-content: left;
    align-items: center;    

    position: absolute;
    left: 0px;
    bottom: 0px;
}

.VideoControls > button {
    font-size: 1vw;
    flex-grow: 4;    
    background-color: Transparent;
    border-radius: 0;
    margin: 0;
}

.VideoBox .VideoTopMenu {
    display: none;
}

.VideoBox:hover .VideoTopMenu {
    width: 40vw;
    margin: 0 1vw 0vw 1vw;
    display: flex;
    flex-direction: row-reverse;               
    justify-content: left;
    align-items: center;    

    position: absolute;
    top: 0px;
}

.VideoTopMenu > button {
    font-size: 1vw;  
    background-color: Transparent;
    border-radius: 0;
    margin: 0;
}

.VideoMinMenu {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0px;
    bottom: 10vh;
}

.VideoMinMenu > button {
    border-radius: 0;
    margin: 0;
}